/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Inter Web";
    font-weight: 400;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    src: url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 500;
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    src: url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 600;
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
    src: url("../fonts/Inter-SemiBold.woff") format("woff");
}


/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-primary: #4056F4;
    --global-color-primary-light: #8C99F8;

    --global-color-neutral-light: white;
    --global-color-neutral-x-dark: #5D5D5D;
    --global-color-neutral-dark: #0D0D0D;

    /* global page settings */
    --global-html-color: var(--global-color-neutral-dark);
    --global-html-backgroundColor: var(--global-color-neutral-light);
    --global-selection-backgroundColor: var(--global-color-primary);

    /* borders */
    --global-borderWidth: 1px;

    /* boxshadow */
    --global-input-focus-boxShadow: 0 0 0 3px var(--global-color-primary-light);

    /* Baseline settings */
    --global-baseline: 0.5rem;

    --global-whitespace: calc(var(--global-baseline) * 3);
    /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2);
    /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1);
    /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4);
    /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2);
    /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3);
    /*  = 72px */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Inter Web', Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--global-html-backgroundColor);
    color: var(--global-html-color);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-selection-backgroundColor);
    color: var(--global-color-neutral-light);
    text-shadow: none;
}

::selection {
    background: var(--global-selection-backgroundColor);
    color: var(--global-color-neutral-light);
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--global-color-primary);
}

a:hover,
a:focus {
    color: var(--global-color-primary);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 0 var(--global-whitespace-md);
}

@media (min-width: 768px) {
    .o-row {
        padding: 0;
    }
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    min-height: 100vh;
    /* 328px = 20.5rem */
    min-width: 20.5rem;
    /* 632px = 39.5rem */
    max-width: 39.5rem;
    padding: var(--global-whitespace-md) var(--global-whitespace-md) 0;
    margin: 0 auto;
}

/*
    Component: Header
    ---
    Header component
*/

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.c-header__search {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem; */
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--global-color-primary);
    line-height: normal;
    margin: 0rem;
}

.c-logo__symbol {
    width: 24px;
    height: 24px;
    fill: var(--global-color-primary);
}

/*
    Component: test
    ---
    test
*/

.button {
    display: inline-block;
    /* margin: 4px 2px; */
    font-size: 16px;
    /* padding-left: 32px;
    padding-right: 32px; */
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 50px;
    color: black;
    vertical-align: middle;
}

.search-container {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: auto 0;
}

.search:focus+.searchbutton {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    padding-top: 0;
}

.search {
    position: absolute;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 24px;
    z-index: 10;
    transition-duration: 0.4s;
    font-size: 0.75rem;
    color: var(--global-color-neutral-dark);
    border-bottom: 1px solid var(--global-color-primary);
    right: 25px;
}

.search:focus, .search:active {
    width: 15vh;
    box-shadow: 0 0 1px 1px var(--global-color-primary-light);
    border-radius: 50px;
    padding-left: 4px;
}


/*
    Component: Search
    ---
    Search component
*/

.c-search {
    position: relative;
}

.c-search__icon {
    position: absolute;
    top: 4px;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white !important;
}

.c-search__btn {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--global-color-primary);
}


.c-search__input {
    border: var(--global-color-primary) solid var(--global-borderWidth);
    border-radius: 15px;
    padding-left: 8px;
    height: 28px;
    color: var(--global-color-neutral-dark);
    font-size: 14px;
    box-shadow: var(--box-shadow-search, 0);
    width: 100px;
}

@media (min-width: 768px) {
    .c-search__input {
        width: 200px;
    }
}


.c-search__input:focus,
.c-search__input:active {
    outline: none;
    --box-shadow-search: 0 0 0 2px var(--global-color-primary-light);
}

.c-search__input:hover {
    --box-shadow-search: 0 0 0 2px var(--global-color-primary-light);
}

/*
    Component: Icon
    ---
    Icon component
*/

.c-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--global-color-primary);
}

.c-icon-lg {
    width: 1.5rem;
    height: 1.5rem;
}

/*
    Component: Toggle
    ---
    Toggle component
*/

.c-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.c-toggle__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.9375rem;
    height: 2rem;
    min-width: 18.5rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.c-toggle__body input:checked+label {
    --toggle-background-color: var(--global-color-primary);
    --toggle-color: var(--global-color-neutral-light);
    --toggle-font-weight: 600;
}

.c-toggle__body label:hover {
    cursor: pointer;
    --custom-option-borderColor: var(--global-color-primary);
}

.c-toggle__body input:focus+label,
.c-toggle__body input:active+label {
    --custom-option-borderColor: var(--global-color-primary);
    --custom-option-boxShadow: var(--global-input-focus-boxShadow);
}

.c-toggle__body label {
    font-size: 0.75rem;
    font-weight: var(--toggle-font-weight, 500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem;
    height: 1.5rem;
    min-width: 6rem;
    border: var(--global-borderWidth) solid var(--custom-option-borderColor, var(--global-color-neutral-light));
    box-shadow: var(--custom-option-boxShadow, 0);
    background-color: var(--toggle-background-color, var(--global-color-neutral-light));
    color: var(--toggle-color, var(--global-color-neutral-dark));
    /* easeInOutCirc */
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    padding: 0.0625rem;
}

/*
    Component: Grid
    ---
    Grid component
*/

.c-grid {
    display: grid;
    grid-template-columns: 18.5rem;
    gap: 32px;
    justify-content: center;

}

.c-grid__item {
    justify-self: center;
}

@media (min-width: 696px) {
    .c-grid {
        gap: 32px 40px;
        grid-template-columns: repeat(2, 18.5rem);
    }
}

/*
    Component: Card
    ---
    Card component
*/




/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--global-opacity);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

.is-night {
    --color-front: var(--color-dark);
    --color-back: var(--color-light);
}

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}